<?xml version='1.0' encoding='UTF-8'?>
<configuration>
{% set dict = hadoop_mapred_site|combine(hadoop_mapred_site_defaults) %}
{% for key,value in dict.items() %}
    <property>
        <name>{{ key }}</name>
        <value>{{ value }}</value>
    </property>
{% endfor %}
</configuration>